body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-image: linear-gradient(to right, #f09433, #e67e22);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
p {
    margin: 0;
}

h1 {
    font-size: 2em;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.social {
    display: flex;
}

.social a {
    margin-left: 10px;
    color: #fff;
}
